/* ==UserStyle==
@name           Anilist Beautify
@namespace      github.com/openstyles/stylus
@version        1.0.7
@description    An attempt to improve the looks of Anilist's mangalist/animelist view
@author         whoswhip
==/UserStyle== */
@-moz-document domain("anilist.co") {
	.medialist.cards .entry-card .title {
		max-height: 70px;
		line-height: 1.2em;
		backdrop-filter: blur(5px);
		background: rgba(var(--color-overlay), 0.7);
		overflow: hidden;
		transition: max-height 0.3s ease;
	}

	.medialist.cards .entry-card .title a {
		display: block;
		line-height: 1.2em;
		max-height: 2.4em;
		overflow: hidden;
		transition: max-height 0.3s ease;
	}

	.medialist.cards .entry-card .title:hover a {
		max-height: 100%;
	}
	.medialist.cards .entry-card .title:hover {
		max-height: 100%;
		transition: 0.3s;
	}
	.medialist.table .row {
		min-height: 120px;
	}
	.medialist.table .row.list-head {
		min-height: 0px;
	}
	.medialist.table .entry .cover {
		max-width: 250px;
		margin-left: 20px;
		flex: 2;
	}
	.medialist.table .entry .cover .image {
		width: 90px;
		height: 110px;
		margin-right: auto;
	}
	.medialist.table .entry:hover .cover .image {
		height: 300px;
		width: 210px;
		left: -220px;
		top: -80px;
	}

	.medialist.table.compact .row {
		min-height: 0px;
	}

	.nav-unscoped.transparent {
		backdrop-filter: blur(5px);
	}

	.media-preview-card.small .cover .image-overlay div .plus-progress {
		backdrop-filter: blur(2.5px);
	}

	.tooltip,
	.el-dropdown {
		backdrop-filter: blur(2.5px);
	}

	.read-review {
		backdrop-filter: blur(5px);
	}
}
